.pageContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.block-size {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.badge-btns {
  display: flex;
  justify-content: space-around;
}

.badge-btns button {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  border-radius: 5px;
  background-color: salmon;
  color: wheat;
  border: 1px solid #fff;
}

.display {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 8px;
  background-color: salmon;
  color: white;
  text-align: center;
}

.block-none {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 8px;
  color: white;
  text-align: center;
}
